/* Small screens (default) */

@for $i from 1 through 12 {
    .col-sm-#{$i}{
      width: (100% /12 )* $i;
      display: inline-block;
    }
}

@media (min-width: 40rem){
     @for $i from 1 through 12 {
        .col-md-#{$i}{
          width: (100% /12 )* $i;
          display: inline-block;
        }
      }
}

@media (min-width: 64rem) { 
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
        width: (100% /12 )* $i;
        display: inline-block;
        }
    }
}